body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background-color: rgb(253, 252, 252);
  max-width: 100%;
}
footer {
  margin-top: 30px;
  font-size: small;
  padding: 10px;
  clear: both;
  bottom: 0;
}
a {
  color: orange;
}
#head {
  width: 100%;
  max-width: 100%;
  background-color: whitesmoke;
  margin: 0px;
  padding: 10px 0px 5px 9%;
  box-shadow: 2px 2px 10px grey;
}
#result {
  margin-top: 10px;
  text-align: justify;
  padding: 10px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  box-shadow: 5px 5px 5px 5px grey;
}
#scripture {
  padding: 0;
  margin: 0;
  line-height: 25px;
  font-size: 17px;
}
.vref {
  font-size: 13px;
  position: relative;
  bottom: 2px;
}
#error {
  display: none;
  color: white;
  background-color: red;
  padding: 5px;
}
#reference {
  font-size: 110%;
}
select {
  border-color: #d8d8d8;
  background-color: #efefef;
  border-style: solid;
  border-width: thin;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 15px;
}
select option {
  font-size: 16px;
}
#translation {
  width: 100%;
}

#button:hover {
  background-color: #d8d8d8;
  cursor: default;
}
#button:active {
  background-color: orange;
  border-color: orange;
}
#search {
  border-radius: 3px;
  border-style: solid;
  border-color: #d8d8d8;
  padding: 7px;
  padding-right: 2px;
  padding-left: 4px;
  font-size: 13px;
  font-family: arial;
  border-width: thin;
  font-size: 12px;
  width: 70%;
  display: none;
}
optgroup {
  font-size: 20px;
  position: relative;
  left: 10px;
}
#button {
  border-radius: 5px;
  border-style: solid;
  border-color: #d8d8d8;
  padding: 6px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #efefef;
  font-size: 13px;
  font-family: arial;
  border-width: thin;
  width: 28%;
  display: none;
}
#search:focus {
  border-color: orange;
}