#head {
    background-color: #FA5555;
    color: white;
}

option {
	color: black;
}

.popup {
    border-color: #FA5555;
}
/* Link color */
.link {
  color: #FA5555;
}
/* Header buttons */
.button {
	color: white;
}
.button:hover {
  background-color: rgb(250, 44, 44);
}
/* Other buttons */
button:active {
  background-color: rgb(250, 44, 44);
  border-color: #FA5555;
}
.closePopup {
  transition-duration: 0.5s;
  color: #FA5555;
}
.closePopup:hover {
  transition-duration: 0.5s;
  color: rgb(250, 44, 44);
}

.arrow {
    color: white;
    background-color: #FA5555;
}
