/* This is the default theme */
.popup {
    border-color: #3689e6;
}
/* Link color */
.link {
  color: #0d52bf;
}
/* Header buttons */
.button:hover {
  background-color: #efefef;
}
/* Other buttons */
button:active {
  background-color: #3689e6;
  border-color: #3689e6;
}
.closePopup {
  transition-duration: 0.5s;
  color: #3689e6;
}
.closePopup:hover {
  transition-duration: 0.5s;
  color: #002e99;
}
