body{
    background-color: #E8DDB5;
    color: #666A86;
}

#head {
    background-color: #666A86;
    color: white;
}
.button {
    color: #E8DDB5;
    text-shadow: 2px 2px 5px gray;
}

/* Popup border color */
.popup {
    border-color: #E8DDB5;
    background-color: #666A86;
    color: #E8DDB5;
}
/* Link color */
.link {
    color: #92B6B1;
}
/* Header buttons */
.button:hover {
    background-color: #788AA3;
}
.button:hover option, .button:hover optgroup {
    background-color: #ffffff;
    color: black;
}
/* Other buttons */
button:active {
    background-color: #666A86;
    border-color: #E8DDB5;
}

button:hover, select:hover{
    background-color: #E8DDB5;
    border-color: #E8DDB5;
    color: #666A86;
}

button, select {
    background-color: #666A86;
    border-color: #E8DDB5;
    color: #E8DDB5;
}

.closePopup {
    transition-duration: 0.5s;
    color: #E8DDB5;
}
.closePopup:hover {
    transition-duration: 0.5s;
    color: rgba(232, 221, 181, 0.411);
}

#result {
  /*box-shadow: 3px 5px 5px 5px #ffc27d;*/
  background-color: #E8DDB5;
}

.arrow {
    background-color: #666A86;
    color: #E8DDB5;
}