body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background-color: white;
  max-width: 100%;
  padding-top: 50px;
}
footer {
  margin-top: 30px;
  font-size: small;
  padding: 10px;
  clear: both;
  bottom: 0;
}
a {
  color: orange;
}
#head {
  width: 100%;
  max-width: 100%;
  background-color: white;
  margin: 0px;
  /*padding: 0px 9% 0px 9%;*/
  box-shadow: 2px 2px 10px grey;
  position: fixed;
  top: 0;
  z-index: 100;
}
#headItems {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#result {
  margin-top: 10px;
  text-align: justify;
  padding: 10px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  box-shadow: 3px 5px 5px 5px grey;
  border-radius: 2px;
}
#scripture {
  padding: 0;
  margin: 0;
  line-height: 25px;
  font-size: 17px;
}
/* Actual Scripture formatting */
.vref {
  font-size: 13px;
  position: relative;
  bottom: 2px;
}
.vref:hover {
  text-decoration: underline;
  cursor: default;
}
.verse {
  margin-top: 7px;
  margin-bottom: 7px;
}
/* End */

#error {
  display: none;
  color: white;
  background-color: red;
  padding: 5px;
}

/* Buttons & other header things */
.button {
  /*border-color: #d8d8d8;
  background-color: #efefef;*/
  background-color: transparent;
  border-color: transparent;
  border-style: solid;
  border-width: thin;
  padding: 15px 15px;
  font-size: 15px;
  margin: 0;
}
select option {
  font-size: 16px;
}
.button:hover {
  background-color: #efefef;
  cursor: default;
}
.button:hover option, .button:hover optgroup {
  background-color: #ffffff;
}

#button:active {
  background-color: orange;
  border-color: orange;
}

optgroup {
  font-size: 20px;
  position: relative;
  left: 10px;
}
#button {
  border-radius: 5px;
  border-style: solid;
  border-color: #d8d8d8;
  padding: 6px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #efefef;
  font-size: 13px;
  font-family: arial;
  border-width: thin;
  width: 28%;
  display: none;
}
#book {
  text-align: center;
  padding-left: auto;
  padding-right: auto;
  margin-left: auto;
  margin-right: auto;
}


 /* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: black;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 49px;
    left: -1px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}


/* No longer used */
#search {
  border-radius: 3px;
  border-style: solid;
  border-color: #d8d8d8;
  padding: 7px;
  padding-right: 2px;
  padding-left: 4px;
  font-size: 13px;
  font-family: arial;
  border-width: thin;
  font-size: 12px;
  width: 70%;
  display: none;
}
#search:focus {
  border-color: orange;
}

#reference {
  font-size: 110%;
}