@import url('./fonts/googlefonts.css');

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background-color: white;
  max-width: 100%;
  padding-top: 50px;
}
footer {
  margin-top: 30px;
  font-size: small;
  padding: 10px;
  clear: both;
  bottom: 0;
}
a {
  color: orange;
}
#head {
  width: 100%;
  max-width: 100%;
  background-color: white;
  margin: 0px;
  /*padding: 0px 9% 0px 9%;*/
  box-shadow: 2px 2px 10px grey;
  position: fixed;
  top: 0;
  z-index: 100;
}
#headItems {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* Popups */

#backdrop {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .40;
  filter: alpha(opacity=40);
  animation-name: backdrop;
  animation-duration: 1s;
}
@keyframes backdrop {
    from {background-color: white;}
    to {background-color: black;}
}

.popup {
  display: none;
  position: fixed;
  top: 15%;
  left: 15%;
  width: 70%;
  height: 70%;
  padding: 16px;
  border: 2px solid;
  border-radius: 7px;
  background-color: white;
  z-index: 1002;
  overflow: auto;
  animation-name: popup;
  animation-duration: 1s;
}
@keyframes popup {
    from {top:10px;}
    to {top: 15%;}
}

.closePopup {
  font-size: 25px;
  position: absolute;
  top: 10px;
  right: 15px;
}

#alertBox {
  top: 40%;
  left: 40%;
  width: 20%;
  max-height: 15%;
  z-index: 1004;
}
#alertBox button {
  display: none;
}

/* End */

#result {
  margin-top: 10px;
  padding: 10px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  box-shadow: 3px 5px 5px 5px grey;
  border-radius: 2px;
}
#scripture {
  text-align: left;
  padding: 0;
  margin: 0;
  line-height: 25px;
  font-size: 17px;
}
/* Actual Scripture formatting */
.vref {
  font-size: 13px;
  position: relative;
  bottom: 2px;
}
.vref:hover {
  text-decoration: underline;
  cursor: default;
}
.verse {
  margin-top: 7px;
  margin-bottom: 7px;
}
/* End */

#error {
  display: none;
  color: white;
  background-color: red;
  padding: 5px;
}

/* Buttons & other header things */
.button {
  /*border-color: #d8d8d8;
  background-color: #efefef;*/
  background-color: transparent;
  border-color: transparent;
  border-style: solid;
  border-width: thin;
  border-radius: 0;
  padding: 12px 12px;
  font-size: 15px;
  font-size: 18px;
  margin: 0;
}
select option {
  font-size: 16px;
}
.button:hover {
  cursor: default;
}
.button:hover option, .button:hover optgroup {
  background-color: #ffffff;
}

optgroup {
  font-size: 20px;
  position: relative;
  left: 10px;
}
#book {
  text-align: center;
  padding-left: auto;
  padding-right: auto;
  margin-left: auto;
  margin-right: auto;
}
/* End misc header */

/* Misc */

.link {
  cursor: pointer;
}
.link:hover {
  text-decoration: underline;
}

.settingsBox {
  display: block;
  float: left;
  width: 30%;
  height: 200px;
  padding: 10px;
  border-right: solid gray 2px;
}
@media only screen
and (max-width : 1000px) {
  .settingsBox {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    height: auto;
  }
}

#technicalInfo {
  display: block;
  margin-bottom: 20px;
}
#technicalInfo img {
  float: left;
  margin-right: 20px;
}

/* This button CSS is from https://github.com/MasterOfTheTiger/apod-extension/blob/master/css/style.css under the MIT license */
button {
  border-radius: 5px;
  border-style: solid;
  border-color: #d8d8d8;
  padding: 6px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #efefef;
  font-size: 13px;
  font-family: arial;
  border-width: thin;
}
button:hover {
  background-color: #d8d8d8;
  cursor: default;
}
select {
  border-color: #d8d8d8;
  background-color: #efefef;
  border-style: solid;
  border-width: thin;
  padding: 5px 10px;
  border-radius: 5px;
}
